/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .wp-block-rebel-aligned-column {
  display: flex !important;

  &.is-style-align-end {
    justify-content: flex-end !important;
  }

  &.is-style-align-start {
    justify-content: flex-start !important;
  }

  &.is-style-align-center {
    justify-content: center !important;
  }
}
